<style>
.jumbotron{
  background-color: #FFFFFF;
  color: #906D54;
  padding-bottom:5px;
}
.jumbotron.other-color{
background-image: url("https://i.pinimg.com/originals/b0/63/0a/b0630a40e3d7f38e3389e799b04c4adc.jpg");
background-size: cover;
min-height: 300px;
font-size: 50px;
}
</style>
