
.text{
	font-size: 30px;

}

/************************************************************************************/
/* ZONES */

.listingszone {
	display: grid;
	align-items: center;
	justify-items: center;
	margin: 20px 20px 20px 20px;
	grid-row-gap: 10px;
}

.listing {
	display: grid;
	height: fit-content;
	width: 80%;
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	border-color: grey;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
	background-color: white;
	grid-template-columns: 20% 80%;
	grid-column: 1;
}

a.photo {
	grid-column: 1;
	grid-row: 1/5;
	align-self: center;
	justify-self: center;
	padding: 10px 10px 10px 10px;
	width: 90%;
	height: 90%;
}

.listingphoto {
	align-self: center;
	justify-self: center;
	padding: 10px 10px 10px 10px;
	width: inherit;
	height: inherit;
	background-color: #F0F8FF;
	box-shadow: 10px 10px 16px -5px rgba(0,0,0,0.33);
}

.listingphoto:hover {
	background-color: lightgrey;
}

a.title {
	grid-column: 2;
	grid-row: 1;
	width: fit-content;
	margin-left: 10%;
	align-self: center;
}

.listingtitle {
	font-weight: bold;
	width: auto;
	font-size: 150%;
	align-self: center;
	color: #2825c4;
}

.listinglocation {
	grid-column: 2;
	grid-row: 2;
	padding-left: 10%;
	margin-top: 0;
}

.listingprice {
	grid-column: 2;
	grid-row: 3;
	font-weight: bold;
	padding-left: 10%;
	align-self: center;
	color: black;
	margin-bottom: 0;
}

.listingdescription {
	grid-column: 2;
	grid-row: 4;
	padding-left: 10%;
	align-self: center;
	color: black;
	margin-top: 0;
}

