html{
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    top: 20px;
    position:relative;
}

h3 {
    padding-left: 20px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    background-color: #125358;
    position: relative;
    padding-top: 10px;
    bottom:51px;

}

.tagline {
    font-size: 22px;
    font-weight: lighter;
    color: white;

}