html{
	font-family: 'Montserrat', sans-serif;
}
body {
	display:grid;
	grid-template-rows: 0.25fr 1fr 0.5fr 1.5fr 0.5fr 2fr;
	border: 0;
	margin: 0;
	background-color: #F9F6EE;
}

header {
	background-color: #bfa487;
}

h1 {
	float: left;
	padding-left: 20px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.signupbutton {
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 8px 32px;
	background-color: #FFFFFF;
	outline: 5px;
	font-size: 20px;
	color: black;

}

.loginbutton {
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 8px 32px;
	background-color: inherit;
	outline: 1px;
	font-size: 20px;
	color: white;

}


/*.profilebutton {
	float: right;
	background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg);
	height: 50px;
	width: 50px;
	border-radius: 40%;
	background-color: black;
	border: 0;
}*/

.searchzone {
	width: 100%;
	height: 200px;
	background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg);
	background-color: orange;
}

input{
	position: relative;
	top: 30px;
	left: 20px;
	width: 200px;
	height: 20px;
	font-size: medium;
	border-radius: 5px;
}
.searchbutton{
	background-color: #bfa487;
	position: relative;
	top: 30px;
	left: 30px;
	width: 80px;
	height: 26px;
	font-size: medium;
	border-radius: 5px;

}

h3 {
	padding-left: 50px;
	font-size: 20px;
}


.categoryzone {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	column-gap: 50px;
	padding-left: 20px;

}

.category {
	width: 100%;
	height: 50%;
	display:inline;
	border-width: 2px;
	border-color: #010106;
	color: black;
}

.categoryphoto {
	width: 100%;
	height: 100%;
}

.categorytitle {
	text-align: center;
	color: #010106;
	text-decoration: none;
	text-decoration-style: dashed;
	text-decoration-color: initial;
}

.latestlistingszone {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 50px;
	padding-left: 20px;
	height: 200px;
}

.listing {
	width: 100%;
	height: 60%;
	display: inline;
}

.listingphoto {
	width: 100%;
	height: 100%;
}

.listingtitle {
	float: left;
	width: 50%;
	text-align: center;
	background-color: black;
	color: white;
}

.listingprice {
	float: right;
	width: 50%;
	text-align: center;
	background-color: black;
	color: white;
}
