body {
	display: grid;
	grid-template-rows: 0.08fr 0.5fr 0.1fr 0.3fr 0.1fr 2fr 0.2fr;
	border: 0;
	background-color:white;
}
/************************************************************************************/
/* BUTTONS */

.createbutton {
	background-color:white;
	height: 44px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	top: 50px;
	width: 95%;
	box-shadow: 3px 3px 3px lightgrey;
	font-weight: bold !important;
}

.searchbutton{
	background-color: white;
	position: relative;
	height: 40px;
	font-size: 18px;
	padding-right: 10px;
	top: 30px;
	border-radius: 5px;
}
/************************************************************************************/
/* SEARCH ZONE */
.mainsearchzone {
	background-image: url(https://images.unsplash.com/photo-1513694203232-719a280e022f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1649&q=80);
	background-position: 0% 50%;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 300px;
}
input{
	padding-left: 10px;
	grid-area: input;
	width: 97%;
	height: 40px;
	font-size: medium;
	border-radius: 5px;
	position: relative;
	top: 30px;
	left: 20px;
}
/************************************************************************************/
/* CATEGORY ZONE */

.categoryzone {
	padding-left: 50px;
	margin: 0px 10px 0px 10px;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	height: 100%;
	position: relative;
	bottom: 12%;

}


.category {
	width: 100%;
	height: 50%;
	display:inline;
	border-width: 2px;
	border-color: #010106;
	color: black;
	padding-right: 10px;
	margin-right:10px;
	transition: transform .2s; /* Animation */
}

.category:hover {
	transform: scale(0.9);
}

.categoryphoto {
	width: 300px;
	height: 280px;
	padding-right: 10px;
}

.categorytitle {
	text-align: center;
	color: #010106;
	text-decoration: none;
	text-decoration-style: dashed;
	text-decoration-color: initial;
	font-weight: bold;

}

div.scrollmenu {
	overflow: auto;
	white-space: nowrap;
}

div.scrollmenu a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

/************************************************************************************/
/* LATEST LISTING ZONE */
.latestlistingszone {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
	grid-template-rows: 1fr 1fr;
	background-color: white;
	height: 80%;
	border-radius: 20px;
}

.listingphoto {
	padding: 10px 10px 10px 10px;
	width: 100%;
	height: 100%;
	background-color: white	;
	box-shadow: 10px 10px 16px -5px rgba(0,0,0,0.33);
}

.listingphoto:hover {
	background-color: whitesmoke;

}


.listingtitle {
	float: left;
	width: 65%;
	text-align: center;
	background-color: white	;
	color: black;

}

.listingprice {
	float: right;
	width: 35%;
	text-align: center;
	background-color: white	;
	color: black;

}

.listingdescription {
	color: black;
}

.image-custom {
	height: 50%;
}

.d-flex {
	text-align: center;
}

.card {
	margin: 0 auto;
}

.card-img-top.image_custom {
	padding: 1rem;
}