
#dropdownMenuLink {
    height: 70px;
    font-size: 18px;
    padding-right: 10px;
    border-radius: 10px;
    float:right;
    background-color: white;
    width: 30%;
}
/************************************************************************************/
/* FONTS */


h2{
    position: relative;
    top: unset;
    text-align: unset;
    bottom: 15px;
    font-weight: bold;
    color: black;
}

i {
    color: dimgrey;
}
/************************************************************************************/
/* ZONES */

.listingzone {
    margin: 20px 80px 0 80px;
    padding-top: 0;

}
.breadzone {
    padding-left: 8%;
    padding-top: 8px;
}
/************************************************************************************/


.modal-content {
	position: relative;
	padding: 0;
	border: 1px solid #125358;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	width: 40%;
}

.backbutton:hover {
    opacity: 0.8;
}

.searchbutton{
    background-color: white;
    width: 30%;
    height: 70px;
    font-size: 18px;
    padding-right: 10px;
    border-radius: 10px;
    float: left;
}
/************************************************************************************/
/* SIDEBAR */

.deleteBox {
    display: inline-grid;
    float: right;
}

.confirm {
    float: left;
    height: 100%;
    display: block;
    width: 40%;
}

.details {
    font-size: 20px;
    color: black;
}
.modal-content{
    width: 20%;
}
/************************************************************************************/
/* MAIN */

.cancel {
    float: right;
    display: block;
    width: 40%;
    height: 100%;
}

.listingphoto{
    width: 70%;
    height: 70%;
}
