body{
    background-image: url(https://images.unsplash.com/photo-1509624776920-0fac24a9dfda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
}

p {
    position: relative;
    text-align: center;
}

h2 {
    color: unset !important;
    top: unset !important;
    font-weight: bolder;
}

/************************************************************************************/
/* MISC */
input, select {
    border-radius: 20px;
    text-indent: 5px;
    font-size: larger;
    position: relative;
    left: 36%;
}

.brk {
    position: relative;
    margin: 20px;
    left: 25%;
    width: 50%;
    height: 0px;
    background: #C4C4C4;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}

.msg {
    text-align: center;
}

/************************************************************************************/
/* BUTTONS */

.joinbutton{
    width: 30%;
    margin: 20px;
    opacity:1;
    font-size: 20px;
    height: 35px;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    border-style: solid;
    left: 33.5%;

    /* font */
    color: #010106;

}

.joinbutton:hover {
    transition: border-color 0.3s ease-in-out;
    border-color: darkcyan;
    border-width: medium;
}

.pagebutton {
    position: relative;
    width: 30%;
    margin: 0 auto;
    border: 0px;
    background-color: #125358;
    color: white;
    font-size: 20px;
    height: 35px;
    border-radius: 20px;


}

.pagebutton:hover {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 3px 3px 3px darkslategrey;

}


/* FORM */
.formzone {
    position: relative;
    left: 25%;
}

#wrongcredmessage{
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.form-group{
    position: relative;
    width: 60%;
}
