
.searchzone {
    background-image: url(https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80) !important;
    background-position: 50%;
    height: 100%;
    background-repeat: repeat;
    padding-top: 4%;
}

h2 {
    padding-right: 30%;
}

/************************************************************************************/
/* FORM */
.createlistingzone{
    background-color: #125358 !important;
    margin-top:5%;
    margin-left: 15%;
    margin-right: 15%;
}

.form-group {
    font-weight: bolder;
    font-size: 20px;
    color: white;
}

input, select{
    border-radius: 20px;
    margin: 10px;
    text-indent: 5px;
    font-size: larger;
}


#general {
    font-size: 20px;
    height: 100%;
    width: 80%;
}

#interval {
    height: 100%;
    width: 30%;
    margin-left: 5%;
}

#price {
    width: 30%;
    height:100%;
}

#description{
    width: 80%;
}

#preview {
    margin-top: 5%;
    margin-left: 30%;
    color: black;
    background-color: white;
    max-height: 300px;
    max-width: 400px;
}

#address{
    margin-right: 13%;
}
input[type=file] {
    max-height: 60% !important;
    background-color: lightgrey !important;
    color: black !important;
    font-size: 20px !important;
}

/************************************************************************************/
/* BUTTON */
.pagebutton {
    width: 50%;
    margin-top: 40px;
    border: 0px;
    opacity:1;
    font-size: 20px;
    height: 50px;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    border-style: solid;
    left: 23%;
    font-weight: bold;

    /* font */
    color: #010106;
}

.pagebutton:hover {
    transition: border-color 0.3s ease-in-out;
    border-color: darkcyan;
    border-width: medium;
}


input[type=file]{
    background-color: #4CAF50;
    max-height: 20px;
    border: none;
    color: white;
    padding: 20px 32px;
    text-decoration: none;
    margin: 3px 2px;
    cursor: pointer;
    text-align: center;
}

.backbutton {
    color:black;
    display: inline;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    margin-left: 15px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 20px;
    border-style: inset;

}

.backbutton:hover {
    background-color: rgba(255, 255,255, 0.8);
    transition: background-color 0.2s ease-in;
}
/************************************************************************************/
