
.settingszone {
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
/************************************************************************************/
/* FONTS */
h2 {
    color: black !important;
    padding-bottom: 20px;
}
p {
    font-size: 14px !important;
    padding-left: 20px;
}

/***********************************************************************************/
/* SIDE BAR*/
.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc;
    text-decoration: none;
}

.vertical-menu a.active {
    background-color: #125358;
    color: white;
}

form {
    text-align: center;
    margin: 0 auto;

}

input, select{
    border-radius: 5px;
    text-indent: 5px;
    height: 30px;
    width: 100%;
    position: relative;
    left: 20px;
}

/***********************************************************************************/
/* MAIN*/
.form-group {
}

.dob {
    font-weight: bold;
    font-size: 18px;
}

#dob {
    text-indent: 5px;
    color: grey;
}


#state, #zip {
    width: 20%;
    margin-right: 20px;
}

#country {
    width: 20%;
}

#email {
float: left;
}

.pagebutton {
    position: relative;
    width: 40%;
    margin: 0 auto;
    border: 0px;
    background-color: #125358;
    color: white;
    font-size: 20px;
    height: 35px;
    border-radius: 20px;
}
/***********************************************************************************/
/* BUTTONS*/
.pagebutton:hover {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 3px 3px 3px darkslategrey;
}

.pagebutton:disabled {
    background-color: grey;
}
