body {
    background-image: url(https://images.unsplash.com/photo-1509624776920-0fac24a9dfda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
}
/* FONTS */
h2 {
    color: unset !important;
    top: unset !important;
    font-weight: bolder;
}

p {
    padding-top: 10px;
    text-align: center;
}
/************************************************************************************/
/* FORM */
form {
    text-align: center;
    margin: 0 auto;

}

input, select {
    border-radius: 10px;
    text-indent: 5px;
    width: 50%;
}


#dob {
    text-indent: 5px;
    color: grey;
}

#fname{
    width: 23%;
}
#lname{
    width: 23%;

}

#state, #zip {
    width: 10%;
}

#country {
    width: 15%;
}
/************************************************************************************/
/* BUTTONS */
.pagebutton {
    position: relative;
    width: 30%;
    margin: 0 auto;
    border: 0px;
    background-color: #125358;
    color: white;
    font-size: 20px;
    height: 35px;
    border-radius: 20px;
}

.pagebutton:hover {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 3px 3px 3px darkslategrey;
}

.pagebutton:disabled {
    background-color: grey;
}

.backbutton {
    color:#4F5445;
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    margin-left: 15px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 20px;

}

.backbutton:hover {
    opacity: 0.8;
}

#errormessage{
    font-family: Roboto;
    color: red;
    font-weight: bold;
    font-size: 20px;
}

#pw_message {
    padding-left: 20px;
}
