html{
    font-family: 'Montserrat', sans-serif;
}
body {
    display:grid;
    grid-template-rows: 80px 0.5fr 0.25fr auto;
    border: 0;
    margin: 0;
    background-color: #F9F6EE;
}

header {
    background-color: #D3B492;
}

h1 {
    float: left;
    padding-left: 20px;
    color: white;
}

.loginbutton {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 8px 32px;
    background-color: inherit;
    outline: 1px;
    font-size: 20px;
    color: white;
}

h2 {
    margin-bottom: 0px;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    color: #4F5445;
}

.tagline {
    margin-top: 0px;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    color: #4F5445;
}

form {
    text-align: center;
}

input, select {
    margin: 10px;
    width: 40%;
    text-indent: 5px;
    font-size: larger;
}

.dob {
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 18px;
}

#dob {
    text-indent: 5px;
    color: grey;
}

#firstname, #lastname {
    width: 19%;
}

#state, #zip {
    width: 10%;
}

#country {
    width: 15%;
}

.pagebutton {
    width: 30%;
    margin: 20px;
    border: 0px;
    background-color: #a08a6f;
    color: white;
    font-size: 20px;
    height: 35px;
    border-radius: 20px;
}

.signupbutton{
    width: 30%;
    margin: 20px;
    border: 0px;
    opacity:1;
    font-size: 20px;
    height: 35px;
    border-radius: 20px;
    box-sizing: border-box;

    /* font */
    color: #010106;

}
