/*@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil")
*/
body{
    background-image: url(../../Peddlr/views/images/bike.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
}

h2 {
    font-family: Roboto, sans-serif;
    text-align: center;
}
p{
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    text-align: center;
}
title{
    position: absolute;
    width: 463px;
    height: 73px;
    left: 479px;
    top: 147px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #4F5445;
}

