html
	head
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		meta(charset='UTF-8')
		title Peddlr Homepage
		link(rel='stylesheet', type = 'text/css', href='/css/homepage.css')
	header
		h1 Peddlr
		button.profilebutton
			i.fa.fa-user-circle-o
			// this button will link to the profile page
	body
		block content