extends default.pug

block css
    style
        include ../public/css/privacy.css
        include ../public/css/header.css
        include ../public/css/fonts.css



block content
    .jumbotron.settingszone
        .row
            .col-3.vertical-menu
                span.border-left
                h2.display-4 Settings
                a(href='/settings/general') General
                a(href='/settings/security') Security and Login
                a.active(href='#') Delete Account

            .col-9
                .row
                    h2 Delete Account
                hr
                form(method='POST' action='/settings/delete')
                    .row
                        h5 Please enter your username and password to confirm
                    .row
                        div.form-group
                            .row
                                p Username
                                input#username(type='text', name='username', autocomplete='new-text', placeholder='Username' required)
                            .row
                                p Password
                                input#pw(type='password', name='password', autocomplete='new-password', placeholder='Password', required)
                    if (error)
                        .row
                            p #{error}
                    .row
                        button#deletebtn.pagebutton(type='submit') Delete Account
