extends default.pug

block css
    style
        include ../public/css/signup.css
        include ../public/css/login.css
        include ../public/css/fonts.css
        include ../public/css/header.css

block content
    div.container-fluid.headerzone
        a(href = '/')
            button.backbutton(type = 'submit') Back

    div.container-fluid
        h2#logintitle Login
    div.container-fluid
        form(role='form', action='/login', method='post')
            .row.form-group
                input.form-control(type='text', id='user', name='username', placeholder=' Email address')

            div.row.form-group
                input.form-control(type='password', id='password', name='password', placeholder=' Password')
                p.msg(id='text', style="display: none;") Caps lock is ON.
                script.
                    var input = document.getElementById("password");
                    var text = document.getElementById("text");
                    input.addEventListener("keyup", function (event) {
                        if (event.getModifierState("CapsLock")) {
                            text.style.display = "block";
                        } else {
                            text.style.display = "none"
                        }
                    })
            if (error)
                p#wrongcredmessage #{error}
            .row
                button.pagebutton(type='submit') Login

            .row.brk
    div.container-fluid
        p Don't have an account?
        a(href = '/signup')
             button.joinbutton(type='submit') Join the community
