extends default.pug

block css
    style
        include ../public/css/signup.css
        include ../public/css/login.css

block content

    a(href = './homepage')
        button.backbutton(type = submit, href = './homepage') Back

    block content
        h2 Login
        p.lead
            form(role='form', action='./login', method='post')
                div.form-group
                    input.form-control(type='text', id='user', name='username', placeholder='Email address')

                div.form-group
                    input.form-control(type='password', id='password', name='password', placeholder='Password')

                a(href = './homepage')
                    button.pagebutton(type='submit') Login
            div.brk
            p Don't have an account?
            a(href = './signup')
                button.signupbutton(type='submit') Join the community

        p.foobar Copyright (c) Peddlr People
