extends default.pug

block css
    style
        include ../public/css/style.css
        include ../public/css/signup.css
        include ../public/css/login.css

block content

    a(href = './homepage')
        button.backbutton(type = submit) Back

    block content
        h2 Login
        p.lead
            form(role='form', action='/login', method='post')
                div.form-group
                    input.form-control(type='text', id='user', name='username', placeholder='Email address')

                div.form-group
                    input.form-control(type='password', id='password', name='password', placeholder='Password')


                button.pagebutton(type='submit') Login

                div.brk
            form(role = 'form', action = 'signup', method = 'post')
                p Don't have an account?
                button.signupbutton(type='submit', href = './signup') Join the community

                p.foobar Copyright (c) Peddlr People
