extends default.pug

block css
    style
        include ../public/css/newlisting.css
        include ../public/css/header.css
        include ../public/css/fonts.css
        include ../public/css/searchzone.css


block content
    div.searchzone
        .row
            .col-3
                a(href = '/')
                    button.backbutton.btn.btn-light(type = 'submit') Back
            .col-9
                h2 Create a listing




    .jumbotron.createlistingzone
        //create listing form
        form(method='POST' action='/listing/new', style = "margin-left: 13%;")
            .form-group
                p.fieldtitle Item:
                input#general(type='text', placeholder=' Title', name='title',
                maxlength='50', required)
            .form-group
                p.fieldtitle Category:
                select#general(type = 'text', name = 'category', required)
                    each category in categories
                        option(value=`${category._id}`) #{category.title}
            .form-group
                p.fieldtitle Price:
                input#price(type = 'number', placeholder='$0', name = 'price', required)
                select#interval(type='text', placeholder='per...', name= 'interval', required)
                    option per day
                    option per week
                    option per month
                    option per year
            .form-group
                    p.fieldtitle Description:
                    p.font-weight-light e.g "Authentic oak wood patio table. Suitable for parties"
                    textarea#description(type = 'text', placeholder=' Description',
                    name = 'description', maxlength='250', rows = 5)
            .form-group
                .row
                    .col
                        p.fieldtitle Please upload a photo
                        input#general(type='file', placeholder='Choose File', onchange='previewFile()',name = 'photoinput')
                .row
                        img#preview(src=file alt="Image preview...")
            .form-group
                p.fieldtitle Where can the item be picked up?
                input#general(type='text', placeholder='Address' name='address', required)
            .form-group
                .row#address
                    .col-4
                        input#general(type='text', placeholder='Zip Code' name='zip', required)
                    .col-4
                        select#general(type='text', placeholder='State' name='state', required)
                            option NSW
                            option QLD
                            option SA
                            option TAS
                            option VIC
                            option WA
                    .col-4
                        select#general(type='text', placeholder='Country' name='country', required)
                            option Australia
            div
                input#b64(type="hidden", name='b64')

            a(href = '/listing/new')
                button.pagebutton(type='submit') Post


    script.
        //this script function displays the photo the user uploads
        function previewFile() {
            var preview = document.querySelector('img');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.addEventListener("load", function(e) {
                //document.getElementById("b64").innerHTML = e.target.result;
                preview.src = reader.result.toString();
                document.getElementById('b64').value = e.target.result;
            }, false);

            if (file) {
                reader.readAsDataURL(file);
            }
        }
