extends default.pug

block css
  style
    include ../public/css/signup.css

block user
  nav.navbar.navbar-expand-lg.navbar-light
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse.flex-grow-0
      ul.navbar-nav
          li.nav-item
            a.nav-link(href='/login') Login

block content
  div.container-fluid.headerzone
    a(href = './homepage')
      button.backbutton(type = 'submit') Back
    h2 Sign Up
  p.tagline Time to feel like home

  // register form
  div.container-fluid.formzone
    form(method='POST' action='./newUser')
      div.form-group
        input#fname(type='text', placeholder='First name' name='fname', required)
        input#lname(type='text', placeholder='Last name' name='lname', required)
      div.form-group
        p.dob Date of Birth
        input#dob(type='date', placeholder='22/07/2018' name='dob', required)
      div.form-group

        input#address(type='text', placeholder='Address' name='address', required)
      div.form-group

        select#state(type='text', placeholder='State' name='state', required)
          option NSW
          option QLD
          option SA
          option TAS
          option VIC
          option WA
        input#zip(type='text', placeholder='Zip Code' name='zip', required)
        select#country(type='text', placeholder='Country' name='country', required)
          option Australia
      div.form-group
        input#email(type='email', placeholder='Email Address' name='email', required)
      div.form-group

        input#confirmemail(type='email', placeholder='Confirm Email Address' name='confirmemail', required)
      div.form-group
        input#pw(type='password', placeholder='Password' name='password', required)
      div.form-group
        input#pw2(type='password', placeholder='Retype Password' name='confirmPassword', required)
      div.row
          button.pagebutton(type='submit') SIGN UP

    p Copyright (c) Peddlr People